importFrom("ggplot2",ggplot)
importFrom("ggplot2",aes)
importFrom("ggplot2",geom_line)
importFrom("ggplot2",xlab)
importFrom("ggplot2",ylab)
importFrom("ggplot2",ggtitle)
importFrom("ggplot2",geom_point)
importFrom("ggplot2",geom_ribbon)
importFrom("ggplot2",opts)
importFrom("ggplot2",theme)
importFrom("ggplot2",element_blank)
importFrom("reshape2",melt)
exportPattern("^[[:alpha:]]+")
