import(utils)
import(stats)
import(graphics)
import(grDevices)
importFrom(igraph,graph.data.frame,V,clusters)
importFrom(MASS,parcoord)
importFrom(segmented,segmented,seg.control)
importFrom(margins, margins)
export(plotMeans,
       plotEstimates,
       generateDataset,
       makeFrontier,
       parallelPlot,
       estimateEffects,
       modelDependence,
       plotPrunedMeans,
       plotTreatedProp)
S3method(plot,L1SATTClass)
S3method(plot,MahalFSATTClass)
S3method(plot,frontierEstimates)
S3method(print,L1SATTClass)
S3method(print,MahalFSATTClass)
