importFrom(igraph,graph.data.frame,V,clusters)
importFrom(MASS,parcoord)
importFrom(segmented,segmented,seg.control)
export(plotFrontier,
       plotMeans,
       generateDataset,
       makeFrontier,
       plotEstimates,
       parallelPlot,
       estimateEffects,
       modelDependence
       )
S3method(print,L1SATTClass)
S3method(print,MahalFSATTClass)
