import(utils)
import(stats)
import(graphics)
import(grDevices)
importFrom(igraph,graph.data.frame,V,clusters)
importFrom(MASS,parcoord)
importFrom(segmented,segmented,seg.control)
export(plotMeans,
       generateDataset,
       makeFrontier,
       parallelPlot,
       estimateEffects,
       modelDependence,
       plotPrunedMeans       
       )
S3method(plot,L1SATTClass)
S3method(plot,MahalFSATTClass)
S3method(plot,frontierEstimates)
S3method(print,L1SATTClass)
S3method(print,MahalFSATTClass)
