importFrom(igraph,graph.data.frame,V,clusters)
importFrom(MASS,parcoord)
export(plotFrontier,
       generateDataset,
       makeFrontier,
       plotEstimates,
       parallelPlot,
       estimateEffects
       )
S3method(print,L1SATTClass)
S3method(print,MahalFSATTClass)
