importFrom("igraph",graph.data.frame,V,clusters)
export("plotFrontier",
       "generateDataset",
       "makeFrontier",
       "plotEstimates",
       "parallelPlot",
       "estimateEffects",
       'print.MahalFSATTClass',
       'print.L1SATTClass'
       )
